@font-face {
    font-family: norse-bold;
    src: url("../media/Norse-Bold.otf");
}

:root {
    --sidebar-width: min(35%, 600px);
    --signup-width: calc(100% - var(--sidebar-width))
}

a {
    color: rgb(244, 244, 244);
}

body {
    margin: 0;
    display: flex;
    min-height: 100vh;
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

#container {
    display: flex;
    align-items: stretch;
    align-content: stretch;
    margin: 0;
    flex-grow: 1;
}

#sidebar {
    background-image: url("../media/background.jpg");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-clip: border-box;
    background-position: right;
    flex-basis: var(--sidebar-width);
    display: flex;
    flex-direction: column;
    color: rgb(244, 244, 244);
    justify-content: space-between;
}

#odin-logo {
    font-family: norse-bold;
    font-size: 6em;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.488);
    padding: 20px;
}

#credit {
    text-align: center;
    padding: 10px;
}

#signup-container {
    display: flex;
    flex-direction: column;
    min-width: var(--signup-width);
}

#form {
    box-shadow: 2px 2px 8px #999999;
    padding-top: 20px;
    padding-left: 40px;
    padding-bottom: 40px;
}

.labeltext {
    font-size: 24px;
    font-weight: 500;
}

.formrow {
    display: flex;
    gap: 40px;
    font-variant: small-caps;
    letter-spacing: 1px;
}

.formentry {
    display: flex;
    flex-direction: column;
}

input {
    border: 1px solid #E5E7EB;
}

input:focus {
    box-shadow: 1px 1px 6px #777777;
}